{extend name='base'/} {block name='content'}
<style>
    .btn-primary {
        float: right;
        margin-right: 100px;
    }
</style>
<div class="col-xs-12 col-sm-9 col-lg-10">
    <ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
        <li>
            <a href="{:url('index')}"><i class="fa fa-cogs"></i>
                站点管理</a>
        </li>
        <li class="active">
            <a href="">添加站点</a>
        </li>

    </ol>
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{:url('index')}">站点首页</a></li>
        {if condition="input('param.link_id')"}
        <li class="active"><a href="">编辑配置</a></li>
        {else/}
        <li class="active"><a href="">添加配置</a></li>
        {/if}
    </ul>
    <form class="form-horizontal" id="form" action="" method="post" onsubmit="return add()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">站点管理</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">配置名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="webset_name" class="form-control" value="{$oldData['webset_name']}" placeholder="请填写配置名称">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">配置值</label>
                    <div class="col-sm-9">
                        <input type="" name="webset_value" class="form-control" placeholder="" value="{$oldData['webset_value']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-9">
                        <input type="text" name="webset_des" class="form-control" placeholder="" value="{$oldData['webset_des']}">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="webset_id" value="{:input('param.webset_id')}">
        <button class="btn btn-primary" type="submit">确定</button>
    </form>

</div>
{/block}