{extend name='base'/} {block name='content'}
<style>
    .c-avatar {
        text-align: left;
    }
    
    .commentlist li {
        margin-left: -70px;
    }
    
    .pagination {
        margin: 0px;
    }
</style>
<article>
    <div class="_head">
        <h1>{$articleData['arc_title']}</h1>
        <span>
        作者：
        <a href="">{$articleData['arc_author']}</a>
        </span> •
        <!--pubdate表⽰示发布⽇日期-->
        <time pubdate="pubdate" datetime="{:date('Y年m月d日',$articleData['sendtime'])}">{:date('Y年m月d日',$articleData['sendtime'])}</time>
        <span>浏览量···</span>{$articleData['arc_click']}
    </div>
    <div class="_digest">
        <p>
            {$articleData['arc_content']}
        </p>
    </div>
    <div class="_footer">
        <i class="glyphicon glyphicon-tags"></i> {foreach name="articleData['tags']" item='vo'}
        <a href="{:url('index/lists/index',['tag_id'=>$vo['tag_id']])}">{$vo['tag_name']}</a>、 {/foreach}

    </div>
    <div class="comt">

        <div class="comt-box">
            <form action="{:url('index/UserPl/addPl')}" method="POST">
                <textarea placeholder="写点什么..." class="input-block-level comt-area" name="pl_content" id="comment" cols="100%" rows="3" tabindex="1"></textarea>
                <div class="comt-ctrl">
                    <input type="hidden" name="arc_id" value="{$articleData['arc_id']}">
                    <input type="hidden" name="user_id" value="{:session('index.index_id')}">
                    <input type="hidden" name="user_name" value="{:session('index.index_name')}">
                    <button class="btn btn-primary pull-right" type="submit" name="submit" id="submit" tabindex="5">
              评论
            </button>
                </div>
            </form>
        </div>
        </form>

    </div>

    <div id="postcomments">
        <div id="comments">
            评论列表
        </div>
        <ol class="commentlist">
            {foreach name='plData' item='vo'}
            <li class="comment even thread-even depth-1" id="comment-33438">
                <div class="c-avatar">
                    <div class="c-main" id="div-comment-33438">{$vo['pl_content']}
                        <div class="c-meta">
                            <span class="c-author"><p>{$vo['user_name']}</p></span>{:date('Y-m-d',$vo['inserttime'])}
                        </div>
                    </div>
                </div>
            </li>
            {/foreach}
            <div class="pagination pagination-sm pull-right">
                {$plData->render()}
            </div>
        </ol>
    </div>

</article> {/block}