<!-- extend 代表的是继承哪个 父级模块 -->
{extend name='base'/} {block name='content'}
<table class="table table-hover ">
    <tbody>
        <tr>
            <th class="active " colspan="10 ">温馨提示</th>
        </tr>
        <tr>
            <!-- <td colspan="10 ">
                学码网官网：<a href="http://www.houdunwang.com " target="_blank ">www.xuema.com</a> 学码网论坛：
                <a href="http://bbs.xuema.com " target="_blank ">bbs.xuema.com</a>
            </td> -->
        </tr>
        <tr>
            <th class="active " colspan="10 ">系统信息</th>
        </tr>
        <tr>
            <td>核心框架</td>
            <td colspan="5 ">Thinkphp</td>
        </tr>
        <tr>
            <td>版本号</td>
            <td colspan="5 ">5.0</td>
        </tr>
        <!-- <tr>
            <td>开发者</td>
            <td colspan="5 ">学码网</td>
        </tr> -->
    </tbody>
</table> {/block}