{extend name='head'/} {block name='head'}
<link rel="stylesheet" href="/static/index/css/i_style.css" />
<style>
    section {
        /* border: 1px solid red; */
        height: 1000px;
    }
    
    .page_left ul li a {
        text-decoration: none;
        color: black;
    }
    
    .page_left ul li a {
        text-decoration: none;
        color: black;
    }
</style>

<div class="container">
    <section class="container">
        <div class="page_left">
            <ul>
                <li>
                    <a href="{:url('index/user/index')}">我的评论</a>
                </li>
                <li>
                    <a href="{:url('index/user/mymessage')}" class="cur">我的留言</a>
                </li>

            </ul>
        </div>

        <div class="page_right">
            <h1 class="page_title">我的留言</h1>
            <div class="page_content">
                <div id="postcomments">
                    <div id="comments">
                        留言列表
                    </div>
                    <ol class="commentlist">
                        {foreach name='messageData' item='vo'}
                        <li class="comment even thread-even depth-1" id="comment-33438">

                            <div class="c-avatar">

                                <div class="c-main" id="div-comment-33438">{$vo['user_comment']}
                                    <div class="c-meta">
                                        <span class="c-author"><p>{:session('index.index_name')}</p></span>{:date('Y-m-d',$vo['commenttime'])}
                                        <a href="{:url('delly',['usercomment_id'=>$vo['usercomment_id']])}">删除留言</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {/foreach}
                        <div class="pagination pagination-sm pull-right">
                            {$messageData->render()}
                        </div>

                    </ol>

                </div>
            </div>
        </div>
    </section>
</div>
{/block}